﻿@model Test.Models.ViewModels.DetailsStudent
@{
    ViewBag.Title = "Details";
}
<p><a href="/Student/List">Go back to list</a></p>
<p><a href="/Student/Edit/@Model.SelectedStudent.student_id">Update</a></p>
<p><a href="/Student/DeleteConfirm/@Model.SelectedStudent.student_id">Delete</a></p>
<h2>@Model.SelectedStudent.first_name @Model.SelectedStudent.last_name</h2>

<div>
    <h3>Student Meal Plans</h3>
    @foreach (var StudentMealPlan in Model.KeptStudentMealPlans)
    {
        <a href="/Student/Details/@StudentMealPlan.student_meal_plan_id">@StudentMealPlan.plan_name</a>
    }
</div>

