﻿@model IEnumerable<Test.Models.StudentDto>
@{
    ViewBag.Title = "New";
}

<h2>Create Student</h2>

<form action="/Student/Create" method="POST">
    <div>
        <label>First Name:</label><input type="text" name="first_name" />
    </div>
    <div>
        <label>Last Name: </label><input type="text" name="last_name" />
    </div>
    <div>
        <input type="submit" value="Create Student" />
    </div>
</form>

