﻿@model Test.Models.TeacherDto
@{
    ViewBag.Title = "Edit";
}

<h2>Update Teacher</h2>
<form action="/Teacher/Update/@Model.teacher_id" method="POST">

    <div>
        <label>First Name:</label> <input type="text" name="teacher_fname" value="@Model.first_name" />
    </div>

    <div>
        <label>Last Name: </label> <input type="text" name="teacher_lname" value="@Model.last_name" />
    </div>

    <div>
        <input type="submit" value="Update Teacher" />
    </div>
</form>